<h1>Peer-graded Assignment part 2 Segmenting and Clustering Neighborhoods in Toronto </h1>

In [85]:
#Install geocoder if not already installed!
#pip install geocoder

SyntaxError: invalid syntax (<ipython-input-85-12306a499ea5>, line 1)

In [86]:
pip install wget

Requirement already satisfied: wget in /home/kurosuzume/anaconda3/lib/python3.7/site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

In [87]:
import pandas as pd
import wget

In [88]:
filename = "Geospatial_Coordinates.csv"

In [89]:
geo_df = pd.read_csv(filename, error_bad_lines=False)
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [90]:
#Quick verification:
geo_df[geo_df["Postal Code"].str.contains("M3A")]

   Postal Code   Latitude  Longitude
25         M3A  43.753259 -79.329656

In [91]:
# Get the df from the first notebook:
%run Peer-graded-Assignment-part-1.ipynb

In [92]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

def get_coordinates(postal_code):
    """(int, int) -> (int, int)
        from the postal_code, return the latitude and longitude (lat, long) coordinates
    """
    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return (lat_lng_coords)

In [94]:
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [96]:
#Merge both dataframes to get the Latitude and Longitude for each Postal Code:
merged_df = pd.merge(df, geo_df)
merged_df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999